<p id="notice"><%= notice %></p>

<h1>Battle Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Strength</th>
      <th>Agility</th>
      <th>Wit</th>
      <th>Speed</th>
      <th>Wisdom</th>
      <th>Intelligence</th>
      <th>Magic</th>
      <th>Chi</th>
      <th>Healing</th>
      <th>Status</th>
      <th>Winner experience</th>
      <th>Loser experience</th>
      <th>Winner gold</th>
      <th>Updated by</th>
      <th>Created by</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @battle_games.each do |battle_game| %>
      <tr>
        <td><%= battle_game.name %></td>
        <td><%= battle_game.description %></td>
        <td><%= battle_game.strength %></td>
        <td><%= battle_game.agility %></td>
        <td><%= battle_game.wit %></td>
        <td><%= battle_game.speed %></td>
        <td><%= battle_game.wisdom %></td>
        <td><%= battle_game.intelligence %></td>
        <td><%= battle_game.magic %></td>
        <td><%= battle_game.chi %></td>
        <td><%= battle_game.healing %></td>
        <td><%= battle_game.status %></td>
        <td><%= battle.winner_gold %></td>
        <td><%= battle.updated_by %></td>
        <td><%= battle.created_by %></td>
        <td><%= battle_game.updated_by %></td>
        <td><%= battle_game.created_by %></td>
        <td><%= link_to 'Show', battle_game %></td>
        <td><%= link_to 'Edit', edit_battle_game_path(battle_game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Battle Game', new_battle_game_path %>
