<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @battle_game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @battle_game.description %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @battle_game.strength %>
</p>

<p>
  <strong>Agility:</strong>
  <%= @battle_game.agility %>
</p>

<p>
  <strong>Wit:</strong>
  <%= @battle_game.wit %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @battle_game.speed %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @battle_game.wisdom %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @battle_game.intelligence %>
</p>

<p>
  <strong>Magic:</strong>
  <%= @battle_game.magic %>
</p>

<p>
  <strong>Chi:</strong>
  <%= @battle_game.chi %>
</p>

<p>
  <strong>Healing:</strong>
  <%= @battle_game.healing %>
</p>

<p>
  <strong>Status:</strong>
  <%= @battle_game.status %>
</p>

<p>
  <strong>Winner experience:</strong>
  <%= @battle_game.winner_experience %>
</p>

<p>
  <strong>Loser experience:</strong>
  <%= @battle_game.loser_experience %>
</p>

<p>
  <strong>Winner gold:</strong>
  <%= @battle_game.winner_gold %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @battle_game.updated_by %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @battle_game.created_by %>
</p>

<%= link_to 'Edit', edit_battle_game_path(@battle_game) %> |
<%= link_to 'Back', battle_games_path %>
